<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/1.0.0/css/font-awesome.css"
        integrity="sha512-YX9NLok9RLg+o5JkA2Whp1kPDCBCEUolTyYykJVOe1xcaTNebXU/x02TxV0LpVYqVNJV5NVjyoMW0jHnJWICKg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../style.css">
    <title>Jannab Perfume</title>
</head>

<body>
    <div class="container">
        <header class="header">

            <a href="/"><img src="./img/jannab3_logo.png" alt="Jannab Perfume"></a>

            <div class="nav_box">
                <a href="#">Əsas səhifə</a>
                <a href="#">Haqqımızda</a>
                <a href="#">Filiallarımız</a>
                <span class="contacts_btn"">Əlaqə</span>
                <div class=" contacts">
                    <a target="_blank" href="https://wa.me/+994553974421?text=Salam">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                    <a href="tel:+994553974421">
                        <i class="fa-solid fa-phone"></i>
                    </a>
                    <a target="_blank" href="https://www.instagram.com/jannabperfume/?igsh=MTZpd2Nsancxd2E2eA%3D%3D#">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a target="_blank" href="/api/feedback">
                        <i class="fa-regular fa-comment" style="color: white;"></i>
                    </a>


            </div>
    </div>

    <div class="else_icons">
        <i class="fa-solid fa-magnifying-glass search_btn" style="color: white;"></i>
        <div class="card_box">
            <i class="fa-solid fa-cart-shopping show_product_card" style="color: white;"></i>
            <p class="added_product">0</p>
        </div>
    </div>
    </header>

    <section class="mb_header">
        <div class="menu">
            <i class="fa-solid fa-bars open_left_menu" style="color: black;"></i>
        </div>
        <div class="logo_mb">
            <img src="./img/jannab2_logo.png" alt="">
        </div>
        <div class="mb_else_icons">
            <i class="fa-solid fa-magnifying-glass search_btn" style="color: black;"></i>
            <!-- <div class="mb_basket"> -->
            <i class="fa-solid fa-basket-shopping show_product_card"><span
                    class="productNo">0</span></i>
            <!-- </div> -->
        </div>
    </section>

    <!-- <section class="mb_text">
        <span>BÜTÜN BRENDLƏR</span>
    </section> -->

    <section class="search">

        <div class="close_box">
            <i class="fa-solid fa-xmark close_search" style="color: white;"></i>
        </div>

        <div class="search_box">
            <input class="search_inp" type="search" name="search" id="">
            <button class="search_button">Axtar</button>
        </div>

        <div class="search_results">

        </div>

    </section>

    <main class="slider_box">
        <div class="slıdex_show_box">
            <img class="slider_show" src="" alt="Jannab">
            <div class="slider_box_buttons">
                <div class="nese">
                    <button id="allProductsButton" onclick="filterAllProducts()">Bütün Ətirlər → </button>
                    <button class="filterWoman" onclick="filterProducts('woman')">Woman → </button>
                </div>


                <div class="nese">
                    <button class="filterUnisex" onclick="filterProducts('unisex')">Unisex → </button>
                    <!-- <button class="filterAll" onclick="filterProducts()">Tüm Ürünler</button> Tüm ürünleri gösteren buton -->
                    <button class="filterMan" onclick="filterProducts('man')">Man → </button>
                </div>

            </div>

        </div>
    </main>

    <section class="buttons_filter">
        <button id="newArrivalsButton" onclick="filterNewArrivals()">Yeni Ətirlər</button>
        <button id="bestSellersButton" onclick="filterBestSellers()">Çox Satılanlar</button>
        <button>Endirim Malları</button>
    </section>

    <section class="products" id="productsContainer">
        <% products.forEach(product=> { %>
            <div class="product" data-category="<%= product.category %>"> <!--Kategori bilgisini ekliyoruz-->
                <a target="_blank" href="/products/<%= product._id %>">
                    <div class="image-container">
                        <img src="<%= product.img %>" alt="<%= product.name %>">
                    </div>
                    <div class="product-details">
                        <h2>
                            <%= product.name %>
                        </h2>
                        <!-- <div class="rating">
                            <% for (let i = 0; i < 5; i++) { %>
                                <span class="star <%= i < product.rating ? 'filled' : '' %>">★</span>
                            <% } %>
                        </div> -->
                    </div>
                </a>
                <div class="product-footer">
                    <div class="price" style="display: none;">
                        <%= product.price.toString() %> ₼
                    </div>
                    <div class="volume-select">
                        <select class="volume-options" id="volumeSelect_<%= product._id %>"
                            onchange="updateVolumePrice('<%= product._id %>', '<%= product.price %>')">
                            <option value="15" data-price="<%= (product.price / 1 * 15).toFixed() %>">15 ml</option>
                            <option value="30" data-price="<%= (product.price / 1 * 30).toFixed() %>">30 ml</option>
                            <option value="50" data-price="<%= (product.price / 1 * 50).toFixed() %>">50 ml</option>
                        </select>
                    </div>
                    <div class="price-per-volume" style="font-size: 18px;" id="priceDisplay_<%= product._id %>">
                        <!-- Fiyat burada gösterilecek -->
                    </div>
                    <a href="javascript:void(0)" class="add-to-cart"
                        onclick="addToCart('<%= product._id %>', '<%= product.name %>', '<%= product.img %>', '<%= product.price %>', document.getElementById('volumeSelect_<%= product._id %>').value)">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
            </div>
            <% }) %>
    </section>

    <!-- <footer class="footer">
        <div class="wp_contact">
            <div class="icon-box">
                <a target="_blank" href="https://wa.me/+994553974421?text=Salam,Parfüm Sifariş Etmək İstəyirəm.">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </div>
        </div>
        <div class="phone_contact">
            <div class="icon-box">
                <a href="tel:+994553974421"><i class="fa-solid fa-phone"></i></a>
            </div>
        </div>
        <div class="mb_basket">
            <i class="fa-solid fa-cart-shopping show_product_card" style="font-size: 20px; font-style:initial;"><span
                    class="productNo">0</span></i>
        </div>
        <div class="help">
            <div class="icon-box">
                <a target="_blank" href="https://www.instagram.com/jannabperfume/?igsh=MTZpd2Nsancxd2E2eA%3D%3D#"><i
                        class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
        <div class="other_icon">
            <div class="icon-box">
                <a target="_blank" href="/api/feedback"><i class="fa-solid fa-comments" style="color: #333333;"></i></a>
            </div>
        </div>
    </footer> -->

    <div class="product_card" id="productCard" style="display: none;">
        <h3>Səbət</h3>
        <div id="cartItems"></div>
        <div style="margin: 3px;"><span id="totalPrice"></span> ₼</div> <!-- Burayı kontrol edin -->
        <button onclick="closeCart()">Bağla</button>
    </div>

    <a href="/api/feedback" class="message_link"><i class="fa-regular fa-comment"
            style="color: white; background-color: #607d8b; padding: 10px; border-radius: 50px; font-size: 40px;"></i></a>

    <section class="left_menu">
        <div>
            <i class="fa-solid fa-xmark close_left_menu"></i>
        </div>
        <div class="menu_links">
            <div>
                <a href="#">Əsas səhifə</a>
                <a href="#">Haqqımızda</a>
                <a href="#">Filiallarımız</a>
                <a href="#">Əlaqə</a>
            </div>
        </div>
        <div class="creator">
            <span>Baras Software ©</span>
        </div>
    </section>

    </div>
    <script src="./js/index.js"></script>


    <script>
        var newArrivalsButton = document.getElementById('newArrivalsButton');
        var bestSellersButton = document.getElementById('bestSellersButton');
        var allProductsButton = document.getElementById('allProductsButton');

        function resetButtonStyles() {
            newArrivalsButton.classList.remove('active');
            bestSellersButton.classList.remove('active');
            allProductsButton.classList.remove('active');

            newArrivalsButton.classList.add('inactive');
            bestSellersButton.classList.add('inactive');
            allProductsButton.classList.add('inactive');
        }

        newArrivalsButton.addEventListener('click', () => {
            resetButtonStyles();
            newArrivalsButton.classList.add('active');
            newArrivalsButton.classList.remove('inactive');
        });

        bestSellersButton.addEventListener('click', () => {
            resetButtonStyles();
            bestSellersButton.classList.add('active');
            bestSellersButton.classList.remove('inactive');
        });

        allProductsButton.addEventListener('click', () => {
            resetButtonStyles();
            allProductsButton.classList.add('active');
            allProductsButton.classList.remove('inactive');
        });

        var contacts_btn = document.querySelector('.contacts_btn');
        contacts_btn.addEventListener('click', () => {
            var contacts = document.querySelector('.contacts');

            // Eğer 'contacts' gizli ise göster, aksi takdirde gizle
            if (contacts.style.display === 'none' || contacts.style.display === '') {
                contacts.style.display = 'flex';
            } else {
                contacts.style.display = 'none';
            }
        });

        function updateVolumePrice(productId, basePrice) {
            const volumeSelect = document.getElementById(`volumeSelect_${productId}`);
            const selectedOption = volumeSelect.options[volumeSelect.selectedIndex];

            const calculatedPrice = selectedOption.getAttribute('data-price'); // Seçilen hacmin fiyatını al

            // Hesaplanan fiyatı göster
            const priceDisplay = document.getElementById(`priceDisplay_${productId}`);
            priceDisplay.innerHTML = `${calculatedPrice} ₼ `; // formatlanmış fiyat
        }

        // Sayfa yüklendiğinde ilk fiyatları ayarlamak için
        document.querySelectorAll('.volume-options').forEach(select => {
            const productId = select.id.split('_')[1]; // ID'den ürün ID'sini al
            const basePrice = parseFloat(select.options[0].getAttribute('data-price')); // İlk opsiyondaki veriyi al
            updateVolumePrice(productId, basePrice); // Başlangıç fiyatını güncelle
        });

    </script>
</body>

</html>