<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/1.0.0/css/font-awesome.css"
        integrity="sha512-YX9NLok9RLg+o5JkA2Whp1kPDCBCEUolTyYykJVOe1xcaTNebXU/x02TxV0LpVYqVNJV5NVjyoMW0jHnJWICKg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">

    <link rel="stylesheet" href="../style.css">
    <title>Jannab Perfume</title>
</head>
<style>
    .image-container {
        position: relative;
        /* Position context for absolute positioning */
    }

    .price-per-volume {
        display: none;
    }

    .discount-label {
        position: absolute;
        top: 10px;
        /* Adjust as necessary */
        left: 10px;
        /* Adjust as necessary */
        background-color: #f76300;
        /* Red background with some transparency */
        color: white;
        /* White text */
        padding: 5px;
        /* Padding around the text */
        border-radius: 5px;
        /* Rounded corners */
        font-weight: bold;
        /* Bold text */
        font-size: 1em;
        /* Adjust font size */
    }

    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        width: 100%;
    }

    .products .volume-select {
        margin: 0;
        /* Üst ve alt boşluk */
        position: relative;
        /* İçerik düzenlemesi için konumlandırma */
    }

    .products .volume-select select.volume-options {
        display: flex;
        padding: 5px;
        /* İç boşluk */
        background-color: #fff;
        /* Arka plan rengi */
        font-size: 15px;
        /* Yazı boyutu */
        color: #292627;
        /* Yazı rengi */
        cursor: pointer;
        /* İmleci işaretçi yap */
        font-weight: 500;
        /* Yazı kalınlığı */
        width: 100%;
        -webkit-appearance: flex;
        /* Safari ve Chrome için */
        -moz-appearance: flex;
        /* Firefox için */
        appearance: flex;
        /* Modern tarayıcılar için */
        background: transparent;
        /* Arka planı şeffaf yapın */
        padding: 10px;
        /* İsteğe bağlı: İç boşluk ayarlamak için */
        outline: none;
    }

    .products .volume-select select.volume-options::-ms-expand {
        display: flex;
        /* Internet Explorer için default açılır menü */
    }

    .products .volume-select select.volume-options:focus {
        outline: none;
        /* Varsayılan odak çerçevesini kaldır */
        border-color: #ecc14d;
        /* Odaklandığında sınır rengi değişimi */
        background-color: #f7f7f7;
        /* Arka plan rengi değişimi */
        border: none;
    }

    .products .volume-select select.volume-options option {
        padding: 10px;
        /* Seçenekler için iç boşluk */
        background-color: #292627;
        color: white;
        /* Yazı rengi */
        border: none;
        /* Kenar yok */
        width: 100%;
        font-weight: 600;
    }

    .products .volume-select select.volume-options option:hover {
        background-color: #f2f2f2;
        /* Seçenek üzerine gelindiğinde arka plan rengi */
    }

    .products .product {
        border-radius: 8px;
        padding: 5px;
        margin: 2px;
        flex: 1 1 300px;
        /* Minimum genişlik 300px */
        max-width: 170px;
        /* Maksimum genişlik */
        text-align: center;
        transition: transform 0.3s, box-shadow 0.3s;
        position: relative;
    }

    .products .product:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    }

    .products .product .image-container {
        width: 100%;
        height: 205px;
        border-radius: 5px;
        background-color: #f5f4e9;
        overflow: hidden;
        position: relative;
    }

    .products .product .image-container .discount-badge {
        position: absolute;
        top: 10px;
        /* Konumu ayarlamak için */
        left: 10px;
        /* Konumu ayarlamak için */
        background-color: #f76300;
        /* Arka plan rengi */
        color: white;
        padding: 4px 4px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 14px;
    }

    .products .product .image-container img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        /* Resmin orantılı görünümü */
        transition: transform 0.3s;
    }

    .products .product .image-container img:hover {
        transform: scale(1.05);
        /* Hover durumunda büyüme */
    }

    .products .product .product-details {
        margin-top: 10px;
    }

    .products .product .product-details h2 {
        font-size: 0.8em;
        margin: 1px 0;
        color: #333;
        text-transform: uppercase;
        text-align: start;
        padding-left: 5px;
    }

    .products .product .product-details .rating {
        display: none;
        justify-content: center;
        margin: 10px 0;
    }

    .products .product .product-details .rating .star {
        color: lightgray;
        font-size: 1.5em;
        margin: 0 2px;
    }

    .products .product .product-details .rating .star.filled {
        color: gold;
    }

    .products .product .product-details .rating .star:nth-child(1),
    .products .product .product-details .rating .star:nth-child(2),
    .products .product .product-details .rating .star:nth-child(3),
    .products .product .product-details .rating .star:nth-child(4) {
        color: gold;
    }

    .products .product .product-footer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
        padding: 10px 0;
        /* Üst ve alt boşluk */
        background-color: white;
        margin: 3px 0;
    }

    .products .product .product-footer .price {
        font-weight: bold;
        font-size: 1.25em;
        color: #ecc14d;
        /* Fiyat rengi */
    }

    .products .product .product-footer a.add-to-cart {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 10px 10px;
        border-radius: 0;
        font-size: 1.5em;
        transition: background-color 0.3s, color 0.3s;
        width: 100%;
        background-color: #333333;
    }

    .products .product .product-footer a.add-to-cart:hover {
        color: white;
        background-color: rgba(0, 0, 0, 0.1);
    }

    .products .product .product-footer a.add-to-cart i {
        font-size: 16px;
    }
</style>

<body>
    <div class="container">
        <header class="header">

            <a href="/"><img src="./img/jannab3_logo.png" alt="Jannab Perfume"></a>

            <div class="nav_box">
                <a href="#">Əsas səhifə</a>
                <a href="#">Haqqımızda</a>
                <a href="#footer_box">Filiallarımız</a>
                <span class="contacts_btn"">Əlaqə <i class=" fa-solid fa-caret-down"></i></span>
                <div class=" contacts">
                    <a target="_blank" href="https://wa.me/+994776526277?text=Salam">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                    <a href="tel:+994776526277">
                        <i class="fa-solid fa-phone"></i>
                    </a>
                    <a target="_blank" href="https://www.instagram.com/jannabperfume/?igsh=MTZpd2Nsancxd2E2eA%3D%3D#">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <!-- <a target="_blank" href="/api/feedback">
                        <i class="fa-regular fa-comment" style="color: white;"></i>
                    </a> -->


                </div>
            </div>

            <div class="else_icons">
                <i class="fa-solid fa-magnifying-glass search_btn" style="color: white;"></i>
                <div class="card_box">
                    <i class="fa-solid fa-cart-shopping show_product_card" style="color: white;"></i>
                    <p class="added_product">0</p>
                </div>
            </div>
        </header>

        <section class="mb_header">
            <div class="menu">
                <img class="fa-solid fa-bars open_left_menu" src="/img/hamburger.png" alt="">

                <!-- <i class="fa-solid fa-bars open_left_menu" style="color: black;"></i> -->
            </div>
            <div class="logo_mb">
                <img src="./img/jannab2_logo.png" alt="">
            </div>
            <div class="mb_else_icons">
                <img class="fa-solid fa-magnifying-glass search_btn" src="/img/search-interface-symbol.png" alt="">
                <section class="basket_box">
                    <img class="fa-solid fa-basket-shopping show_product_card" src="/img/shopping-bag.png" alt="">
                    <span class="productNo">0</span>
                </section>
                <!-- <i class="fa-solid fa-magnifying-glass search_btn" style="color: black;"></i> -->
                <!-- <i class="fa-solid fa-basket-shopping show_product_card"><span class="productNo">0</span></i> -->

                <!-- <i class='bx bx-cart show_product_card'><span class="productNo">0</span></i> -->

            </div>
        </section>

        <section class="search">

            <div class="close_box">
                <i class="fa-solid fa-xmark close_search" style="color: white;"></i>
            </div>

            <div class="search_box">
                <input class="search_inp" type="search" name="search" id="">
                <!-- <button class="search_button">Axtar</button> -->
            </div>

            <div class="search_results">

            </div>

        </section>

        <main class="slider_box">
            <div class="slıdex_show_box">
                <img class="slider_show" src="" alt="Jannab">
                <div class="slider_box_buttons">
                    <div class="nese">
                        <button class="allproductsMore" id="allProductsButton" onclick="filterAllProducts()">Bütün
                            Ətirlər <i class="fa-solid fa-arrow-right"></i></button>
                        <button id="womanButton" class="filterWoman" onclick="filterProducts('woman')">Woman <i
                                class="fa-solid fa-arrow-right"></i></button>

                    </div>

                    <div class="nese">
                        <button id="unisexButton" class="filterUnisex" onclick="filterProducts('unisex')">Unisex <i
                                class="fa-solid fa-arrow-right"></i></button>
                        <button id="manButton" class="filterMan" onclick="filterProducts('man')">Man <i
                                class="fa-solid fa-arrow-right"></i></button>

                    </div>

                </div>

            </div>
        </main>

        <section class="buttons_filter">
            <div class="buttons_wrapper">
                <button id="newArrivalsButton" onclick="filterNewArrivals()">Yeni ətirlər</button>
                <button id="bestSellersButton" onclick="filterBestSellers()">Trend ətirlər</button>
                <button id="discountedButton" onclick="filterDiscountedProducts()">Endrimli ətirlər</button>
                <button id="giftButton">Hədiyyə kartı</button>
                <!-- <a href="loadMoreButton">Hədiyyə kartlarımız</a> -->
            </div>
        </section>

        <section class="products" id="productsContainer">
            <% products.slice(0, 2).forEach(product=> { %> <!-- İlk iki ürünü göster -->
                <div class="product" data-category="<%= product.category %>">
                    <a target="_blank" href="/products/<%= product._id %>">
                        <div class="image-container">
                            <img src="<%= product.img %>" alt="<%= product.name %>">
                            <% if (product.discount> 0) { %>
                                <div class="discount-badge">-<%= Math.floor(product.discount) %>%</div>
                                <% } %>
                        </div>
                        <div class="product-details">
                            <h2>
                                <%= product.name %>
                            </h2>
                        </div>
                    </a>
                    <div class="product-footer">
                        <div class="price" style="display: none;">
                            <%= product.price.toString() %> ₼
                        </div>
                        <div class="volume-select">
                            <select class="volume-options" id="volumeSelect_<%= product._id %>"
                                onchange="updateVolumePrice('<%= product._id %>', '<%= product.price %>', '<%= product.discount %>')">
                                <% const discountedPrice=product.discount> 0 ? product.price * (1 - product.discount /
                                    100)
                                    : product.price; %>
                                    <option value="15" data-price="<%= (discountedPrice * 15).toFixed() %>">15 ml - <%=
                                            (discountedPrice * 15).toFixed() %> ₼</option>
                                    <option value="30" data-price="<%= (discountedPrice * 30).toFixed() %>">30 ml - <%=
                                            (discountedPrice * 30).toFixed() %> ₼</option>
                                    <option value="50" data-price="<%= (discountedPrice * 50).toFixed() %>">50 ml - <%=
                                            (discountedPrice * 50).toFixed() %> ₼</option>
                            </select>
                        </div>
                        <a href="javascript:void(0)" class="add-to-cart"
                            onclick="addToCart('<%= product._id %>', '<%= product.name %>', '<%= product.img %>', '<%= product.price %>', document.getElementById('volumeSelect_<%= product._id %>').value)"
                            style="background-color: #333333">
                            <i class="fa-solid fa-cart-shopping" style="color: white;"></i>
                        </a>
                    </div>
                </div>
                <% }) %>
        </section>

        <button class="loadMoreButtons" id="loadMoreButton" onclick="loadMoreProducts()">Daha çox</button>

        <section class="gift-container" id="gift_boxs">
            <!-- <div class="gift-header">
                <i class="fa fa-times close-icon close_gift" aria-hidden="true"></i>
            </div> -->
            <img id="giftImage" src="./img/gift30-50-70new.png" alt="endirim 30">
            <!-- <div class="gift">
            </div> -->
        </section>

        <div class="product_card" id="productCard" style="display: none;">
            <h3>Səbətim</h3>
            <div id="cartItems"></div>
            <div style="margin: 3px;"><span id="totalPrice"></span> ₼</div> <!-- Burayı kontrol edin -->
            <div class="card_buttons">
                <button onclick="closeCart()">Bağla</button>
                <button class="share_whatsap_pro" onclick="shareOnWhatsApp()">Sifariş</button>
            </div>

        </div>

        <section class="left_menu">
            <div>
                <i class="fa-solid fa-xmark close_left_menu"></i>
            </div>
            <div class="menu_links">
                <a href="/">Əsas səhifə</a>
                <a href="#">Haqqımızda</a>
                <a href="#footer_box">Filiallarımız</a>
                <a href="#" class="menu_dropdown">Əlaqə <i class="fa-solid fa-caret-down menu_dropdown"></i></a>
                <section class="menu_icons">
                    <a target="_blank" href="https://www.instagram.com/jannabperfume/?igsh=MTZpd2Nsancxd2E2eA%3D%3D#">
                        <i class="fa-brands fa-instagram" style="color:black ;"></i>
                    </a>

                    <a target="_blank" href="https://wa.me/+994776526277?text=Salam">
                        <i class="fa-brands fa-whatsapp" style="color: black;"></i>
                    </a>
                    <a href="tel:+994776526277">
                        <i class="fa-solid fa-phone" style="color: black; font-size: 18.5px; margin-top: 2px;"></i>
                    </a>
                </section>
            </div>
            <div class="creator">
                <span>Baras Software ©</span>
            </div>
        </section>

        <a target="_blank" class="wp_mobile"
            href="https://wa.me/+994776526277?text=Salam,Parfüm Sifariş Etmək İstəyirəm.">
            <i class="fa-brands fa-whatsapp"></i>
        </a>

        <footer class="footer" id="footer_box">
            <div class="map_box">
                <div class="iframe_container">
                    <!-- <span>Şəhərdəki ünvanımız</span> -->
                    <img src="./img/seher.PNG" alt="Bazar Images" class="bazar-image">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2982.227432752016!2d46.6402371!3d41.6292152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40464b8871e2f769%3A0x1e14ab5735998fa8!2sJannab%20Parfume!5e0!3m2!1sen!2sfr!4v1731852970780!5m2!1sen!2sfr"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="iframe_container">
                    <!-- <span>Bazardakı ünvanımız</span> -->
                    <img src="./img/bazar.png" alt="Bazar Images" class="bazar-image">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d2982.374950552943!2d46.637428276071674!3d41.62602617127063!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDHCsDM3JzMzLjciTiA0NsKwMzgnMjQuMCJF!5e0!3m2!1saz!2saz!4v1731596034664!5m2!1saz!2saz"
                        loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="map_icons">
                <a target="_blank" href="https://www.instagram.com/jannabperfume/?igsh=MTZpd2Nsancxd2E2eA%3D%3D#"
                    class="icon"><i class="fa-brands fa-instagram"></i></a>
                <a target="_blank" href="https://wa.me/+994776526277?text=Salam" class="icon"><i
                        class="fa-brands fa-whatsapp"></i></a>
                <a href="tel:+994776526277" class="icon"><i class="fa-solid fa-phone"></i></a>
            </div>
        </footer>

    </div>
    <script src="./js/index.js"></script>

    <script>
        var loadMoreButtons = document.querySelector('.loadMoreButtons');
        var allproductsMore = document.querySelector('.allproductsMore');

        document.getElementById('giftButton').addEventListener('click', function () {
            // gift_boxs id'sine sahip bölüme kaydır
            document.getElementById('gift_boxs').scrollIntoView({
                behavior: 'smooth' // Kaydırmanın düzgün ve yumuşak olmasını sağlar.
            });
        });

        // Buton referansları
        const buttons = {
            newArrivals: document.getElementById('newArrivalsButton'),
            bestSellers: document.getElementById('bestSellersButton'),
            discounted: document.getElementById('discountedButton'),
            allProducts: document.getElementById('allProductsButton'),
            man: document.getElementById('manButton'),
            unisex: document.getElementById('unisexButton'),
            woman: document.getElementById('womanButton'),
            contactsBtn: document.querySelector('.contacts_btn'),
            contacts: document.querySelector('.contacts')
        };

        // Tüm butonlardan active/inactive stillerini sıfırlama
        function resetButtonStyles() {
            Object.values(buttons).forEach(button => {
                if (button) {
                    button.classList.remove('active');
                    button.classList.add('inactive');
                }
            });
        }

        function resetButtonStylesMore() {
            Object.values(buttons).forEach(button => {
                button.addEventListener('click', () => {
                    loadMoreButtons.style.display = 'none'
                })
            });
        }
        resetButtonStylesMore()

        function resetButtonAllStylesMore() {

            allproductsMore.addEventListener('click', () => {
                loadMoreButtons.style.display = 'flex'
            })

        }
        resetButtonAllStylesMore()


        // Buton tıklama olaylarını ekle
        function setupButtonListeners() {
            buttons.newArrivals.addEventListener('click', () => {
                resetButtonStyles();
                buttons.newArrivals.classList.add('active');
                filterNewArrivals();
            });

            buttons.bestSellers.addEventListener('click', () => {
                resetButtonStyles();
                buttons.bestSellers.classList.add('active');
                filterBestSellers();
            });

            buttons.discounted.addEventListener('click', () => {
                resetButtonStyles();
                buttons.discounted.classList.add('active');
                filterDiscountedProducts();
            });

            buttons.allProducts.addEventListener('click', () => {
                resetButtonStyles();
                buttons.allProducts.classList.add('active');
                filterAllProducts();
            });

            buttons.man.addEventListener('click', () => {
                resetButtonStyles();
                buttons.man.classList.add('active');
                filterProducts('man');
            });

            buttons.unisex.addEventListener('click', () => {
                resetButtonStyles();
                buttons.unisex.classList.add('active');
                filterProducts('unisex');
            });

            buttons.woman.addEventListener('click', () => {
                resetButtonStyles();
                buttons.woman.classList.add('active');
                filterProducts('woman');
            });
        }

        // Dışarıya tıklama olayını ekle
        function setupOutsideClickListener() {
            document.addEventListener('click', (event) => {
                const isOutsideClick = !Object.values(buttons).some(button => button.contains(event.target));
                if (isOutsideClick) {
                    resetButtonStyles();
                }
            });
        }

        // İletişim butonuna tıklama olayını ekle
        function setupContactsButton() {
            buttons.contactsBtn.addEventListener('click', () => {
                buttons.contacts.style.display = buttons.contacts.style.display === 'none' || buttons.contacts.style.display === '' ? 'flex' : 'none';
            });
        }

        // Hacim fiyatını güncelleme
        function updateVolumePrice(productId) {
            const volumeSelect = document.getElementById(`volumeSelect_${productId}`);
            const priceDisplay = document.getElementById(`priceDisplay_${productId}`);
            const selectedOption = volumeSelect.options[volumeSelect.selectedIndex];
            const calculatedPrice = selectedOption.getAttribute('data-price');
            priceDisplay.innerHTML = `${calculatedPrice} ₼`;
        }

        // Sayfa yüklendiğinde başlangıç fiyatlarını ayarlama
        function setupVolumePriceUpdates() {
            document.querySelectorAll('.volume-options').forEach(select => {
                const productId = select.id.split('_')[1];
                updateVolumePrice(productId);
            });
        }

        // Sayfa yüklendiğinde işlevselliği ayarla
        window.onload = function () {
            setupButtonListeners();
            setupOutsideClickListener();
            setupContactsButton();
            setupVolumePriceUpdates();
        };

        var menu_dropdown = document.querySelectorAll(".menu_dropdown");

        menu_dropdown.forEach((dropdown) => {
            dropdown.addEventListener('click', () => {
                // İlgili menu_icons öğesini bul
                var menu_icons = dropdown.nextElementSibling; // Örneğin, bir sonraki kardeş öğe
                if (menu_icons && menu_icons.classList.contains('menu_icons')) {
                    if (menu_icons.style.display === 'none' || menu_icons.style.display === '') {
                        menu_icons.style.display = 'flex';
                    } else {
                        menu_icons.style.display = 'none';
                    }
                }
            });
        });



    </script>

</body>

</html>