<!DOCTYPE html>
<html lang="az">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= product.name %> - Məhsul Detalları
    </title>
    <link rel="stylesheet" href="/path/to/your/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        /* Ümumi Stillər */
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
            line-height: 1.6;
        }

        .container {
            max-width: 700px;
            margin: auto;
            background: #fff;
            padding: 20px 30px;
            border-radius: 10px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
        }

        .image-wrapper {
            position: relative;
        }

        .image-caption {
            position: absolute;
            bottom: -5px;
            /* Yuxarıdan aşağıdakı məsafəni təyin edir */
            left: 50%;
            width: 100%;
            /* Üzərinə mətni mərkəzləşdirir */
            transform: translateX(-50%);
            /* Mətni tam mərkəzə yerləşdirir */
            background-color: rgba(255, 255, 255, 0.7);
            /* Arxa fon daha aydın olsun deyə */
            /* Mətni kapsayan ətraf boşluq */
            border-radius: 5px;
            /* Küncləri yuvarlaşdırır */
            font-size: 14px;
            /* Font ölçüsü */
            font-weight: 600;
            text-align: center;
            /* Mətni mərkəzləşdirir */
            color: #333;
            /* Mətni təsvir edən rəng */
        }

        h1 {
            text-align: center;
            color: #444;
            font-size: 2em;
            margin-bottom: 15px;
        }

        .product-images-container {
            display: flex;
            flex-direction: column;
            border: 1px solid #ddd;
            border-radius: 10px;
            overflow: hidden;
            background-color: #f9f9f9;
            margin-bottom: 20px;
        }

        .product-image {
            width: 100%;
            height: auto;
            max-height: 300px;
            object-fit: contain;
            /* border-bottom: 1px solid #ddd; */
        }

        .additional-images {
            display: flex;
            justify-content: center;
            padding: 10px;
            gap: 10px;
            flex-wrap: wrap;
        }

        .additional-images img {
            width: 30%;
            max-width: 80px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s;
        }

        .additional-images img:hover {
            transform: scale(1.1);
        }

        .product-info {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-bottom: 20px;
            padding: 15px;
            border: 1px solid #ddd;
            border-radius: 10px;
            background-color: #f9f9f9;
        }

        .price {
            font-size: 1.8em;
            color: #28a745;
            margin: 5px 0;
        }

        .details-section {
            text-align: center;
        }

        .rating {
            display: flex;
            justify-content: center;
            margin: 15px 0;
        }

        .star {
            color: #FFD700;
            font-size: 20px;
        }

        .category-label {
            font-weight: bold;
            padding: 5px 10px;
            border-radius: 4px;
            display: inline-block;
            margin-top: 5px;
        }

        .category-label.woman {
            background-color: #FAD0D0;
            color: #E91E63;
        }

        .category-label.man {
            background-color: #D0E1FA;
            color: #2196F3;
        }

        .category-label.unisex {
            background-color: #E0E0E0;
            color: #9E9E9E;
        }

        .section-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 80%;
            margin: 20px auto;
            padding: 20px;
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        h3 {
            text-align: center;
            color: #333;
            margin-bottom: 20px;
        }

        .price-table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
        }

        .price-table th,
        .price-table td {
            padding: 12px;
            text-align: center;
            border: 1px solid #ddd;
        }

        .price-table th {
            background-color: #007BFF;
            color: white;
        }

        .price-table tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .price-table tbody tr:hover {
            background-color: #e6f7ff;
            /* Hover effect */
        }

        .price-table strong {
            color: #28a745;
            /* Price color */
        }

        .notes-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
        }

        .note-item {
            text-align: center;
            margin: 5px;
            max-width: 80px;
        }

        .note-image {
            max-width: 70%;
            height: auto;
            border-radius: 5px;
        }

        .back-link {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 15px;
            background-color: #ede3da;
            color: black;
            border-radius: 4px;
            text-decoration: none;
            text-align: start;
            transition: background-color 0.3s, transform 0.2s;
            font-weight: bold;
            font-size: 18px;
        }

        .back-link:hover {
            background-color: #76787a;
            transform: scale(1.05);
            color: white;
        }

        /* Responsive Styling */
        @media (max-width: 600px) {
            .container {
                padding: 15px;
            }

            .product-images-container {
                flex-direction: column;
            }

            .product-image {
                max-height: 200px;
                /* Küçük ekranlar için yüksekliği küçült */
            }

            .additional-images img {
                width: 20%;
                max-width: 80px;
                /* Ekran boyutuna göre değişir */
            }

            h1,
            .price {
                font-size: 1.5em;
                /* Küçük ekranlar için font boyutunu düşür */
            }

            .product-info {
                padding: 10px;
            }
        }
    </style>
</head>
<style>
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;

    }
</style>

<body>
    <div class="container">
        <a href="/" class="back-link" aria-label="Məhsul siyahısına keçid">
            <i class="fas fa-chevron-left"></i> Əsas səhifə
        </a>
        <h1>
            <%= product.name %>
        </h1>

        <div class="product-images-container">
            <div class="image-wrapper">
                <img src="<%= product.img %>" alt="<%= product.name %> şəkli" class="product-image"
                    id="main-product-image">
                <p class="image-caption">Şəkil tanıtım xarakteri daşıyır</p>
            </div>
            <div class="additional-images">
                <img src="<%= product.img %>" style="border: 0.4px solid black;" alt="<%= product.name %> şəkli"
                    onclick="changeImage('<%= product.img %>')">
                <img src="/img/15ml.JPG" alt="Görüntü 1" onclick="changeImage('/img/15ml.JPG')">
                <img src="/img/50ml.JPG" alt="Görüntü 2" onclick="changeImage('/img/50ml.JPG')">
                <img src="/img/30ml.JPG" alt="Görüntü 3" onclick="changeImage('/img/30ml.JPG')">
            </div>
        </div>

        <div class="product-info">
            <div class="details-section">
                <!-- <p class="price"><strong>Qiymət:</strong> ₼ <%= product.price.toString() %></p> -->

                <div class="rating" style="display: none;">
                    <span class="star"><i class="fas fa-star"></i></span>
                    <span class="star"><i class="fas fa-star"></i></span>
                    <span class="star"><i class="fas fa-star"></i></span>
                    <span class="star"><i class="fas fa-star"></i></span>
                    <span class="star half"><i class="fas fa-star-half-alt"></i></span>
                </div>

                <p><strong>Təsvir:</strong>
                    <%= product.content || 'Təsvir mövcud deyil' %>
                </p>
                <p><strong>Kateqoriya:</strong>
                    <span class="category-label <%= product.category %>">
                        <%= product.category.charAt(0).toUpperCase() + product.category.slice(1) %>
                    </span>
                </p>
                <p><strong>Ən Çox Satılan:</strong>
                    <%= product.bestSellers ? 'Bəli' : 'Xeyir' %>
                </p>
                <p><strong>Kompozisiya:</strong>
                    <%= product.compositionDescription || 'Məlumat mövcud deyil' %>
                </p>
            </div>
        </div>

        <section class="section-container" style="display: none;">
            <h3>Qiymət Cədvəli</h3>
            <table class="price-table" aria-label="Məhsul qiyməti həcminə görə">
                <thead>
                    <tr>
                        <th>Həcmi (ml)</th>
                        <th>Orijinal Qiymət</th>
                        <th>Endirimli Qiymət</th>
                    </tr>
                </thead>
                <tbody>
                    <% const volumes=[15, 30, 50]; %>
                        <% volumes.forEach(volume=> { %>
                            <tr>
                                <td>
                                    <%= volume %> ml
                                </td>
                                <td><strong>₼ <%= product.originalPrices[volume] %></strong></td>
                                <td><strong>₼ <%= product.discountedPrices[volume] %></strong></td>
                            </tr>
                            <% }); %>
                </tbody>
            </table>
        </section>

        <section class="section-container">
            <h4 style="text-align: center; background-color: #292627; width: 125px; color: white;">Üst notları:</h4>
            <div class="notes-container">
                <% if (product.upperNotes && product.upperNotes.notes.length) { %>
                    <% product.upperNotes.notes.forEach((note, index)=> { %>
                        <div class="note-item">
                            <p><strong>
                                    <%= note %>
                                </strong></p>
                            <img src="<%= product.upperNotes.images[index] %>" alt="<%= note %>" class="note-image">
                        </div>
                        <% }); %>
                            <% } else { %>
                                <p>Üst notları: mövcud deyil.</p>
                                <% } %>
            </div>

            <h4 style="text-align: center; background-color: #292627; width: 125px; text-align: center; color: white;">Ürək notları:</h4>
            <div class="notes-container">
                <% if (product.heartNotes && product.heartNotes.notes.length) { %>
                    <% product.heartNotes.notes.forEach((note, index)=> { %>
                        <div class="note-item">
                            <p><strong>
                                    <%= note %>
                                </strong></p>
                            <img src="<%= product.heartNotes.images[index] %>" alt="<%= note %>" class="note-image">
                        </div>
                        <% }); %>
                            <% } else { %>
                                <p>Ürək notları: mövcud deyil.</p>
                                <% } %>
            </div>

            <h4 style="text-align: center; background-color: #292627; width: 125px; color: white;">Baza notları:</h4>
            <div class="notes-container">
                <% if (product.baseNotes && product.baseNotes.notes.length) { %>
                    <% product.baseNotes.notes.forEach((note, index)=> { %>
                        <div class="note-item">
                            <p><strong>
                                    <%= note %>
                                </strong></p>
                            <img src="<%= product.baseNotes.images[index] %>" alt="<%= note %>" class="note-image">
                        </div>
                        <% }); %>
                            <% } else { %>
                                <p>Baza notları: mövcud deyil.</p>
                                <% } %>
            </div>
        </section>


    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            function changeImage(newSrc) {
                var mainImage = document.getElementById('main-product-image');
                mainImage.src = newSrc;
            }

            // Global erişim için fonksiyonu tanımlayın
            window.changeImage = changeImage;
        });
    </script>
</body>

</html>